.hi {
    width: 250px;
    height: 200px;
}

h1{
    text-align: center;
    text-decoration-color: cadetblue;
    text-decoration: underline;
}

h2{
    text-align: center;
    text-decoration-color: lightcoral;
    text-decoration: underline;
}

body{
    text-align: center;
}

.yo{
    text-align: center;
    width: 250px;
    height: 200px;
}